
asd-papers-pubmed-analysis-Copy1.ipynb
backup/asd-papers-pubmed-analysis.ipynb
backup/AutismArticlesInformation_2.csv
backup/autismPMIDList_2.txt
backup/listError.txt
old/asd-papers-pubmed-analysis_backup_28-12.ipynb
old/AutismArticlesInformation.csv
old/autismPMIDList.txt
old/teste_csv.csv
old/testeautismo.txt
old/testeautismo10.txt
old/wordsFromAbstractsFiltered.txt
